<section class="component">
    <div class="topcoat-button-bar full">
        <div class="topcoat-button-bar__item ">
            <button class="topcoat-button-bar__button full">
                                        <div class="icomatic">backlight</div>
                        <div class="icon-label">Back</div>
            </button>
        </div>
        <div class="topcoat-button-bar__item ">
            <button class="topcoat-button-bar__button full">

                            <div class="icon-label">slides</div>
            </button>
        </div>
        <div class="topcoat-button-bar__item ">
            <button class="topcoat-button-bar__button full">
                <div class="icomatic">nextlight</div>
                <div class="icon-label">Next</div>
            </button>
        </div>
    </div>
</section>