<div class="topcoat-navigation-bar"> 
    <div class="topcoat-navigation-bar__item eighth"></div>
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Employee Directory 602</h1>
    </div>
    <div class="topcoat-navigation-bar__item quarter"></div>
</div>
<div class="topcoat-list__container scroller padded-scroller">
    <ul class="topcoat-list list">
        <li ng-repeat="employee in employees | filter:query | orderBy:orderProp" 
            class="topcoat-list__item" ng-click="go('/employees/' + employee.id)">
                <img ng-src="pics/{{employee.pic}}">
                <p>{{employee.firstName}} {{employee.lastName}}</p>
                <p>{{employee.title}}</p>
                <span class="chevron"></span><span class="count">{{employee.reports}}</span>
            </a>
        </li>
    </ul>
</div>