<!--style="background-color:#A5A7A7;-->

<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item eighth">
        <button class="topcoat-icon-button--quiet">
            <span class="topcoat-icon icomatic tc-fix"  ng-click="back()">back
            </span>
        </button>
    </div>
    <div class="topcoat-navigation-bar__item topcoat-navigation-bar__title seven-eighths center">
         <img class="nav-bar-image rounded-box_no-shadow" ng-src="{{project.thumb}}">
        {{project.name}}
    </div>
</div>

<div id="contentView"></div>
