<div class="full-height">
<div class="rounded-box login">
        <p >Volerro Login</p>
    <div class="login-form">
    <form>
        <input type="text" class="topcoat-text-input" placeholder="username" name="username" ng-model="userName">
        <p></p>
        <input type="text" class="topcoat-text-input" placeholder="password" name="password" ng-model="password">
        <p></p>
        <div style="display:block;text-align:center;width:100%;">
        <button class="topcoat-button" style="margin-top:5px;" ng-click="do_login()">Sign In</button>
        </div>
        <div class="login-message">
            <p>{{message}}</p>
        </div>
    </form>
    </div>
  </div>            
</div>