
    <div class="section-header">
        <h1 class="topcoat-navigation-bar__title">Active Projects</h1>
    </div>

<div class="board-container">
    <div class="board-scroller">
        <div class="board rounded-box">
            <div class="board-title">
                Hello World really really really long
            </div>
            <div class="content-container">
                <ul class="card-list">
                    <li class="card-list_item">
                    <div class="card-container">
                        blah blah blah
                    </div>
                    </li>
                    <li class="card-list_item">
                    <div class="card-container">
                        doh doh doh
                    </div>
                    </li>
                    <li class="card-list_item">
                    <div class="card-container">
                        doh doh doh
                    </div>
                    </li>
                    <li class="card-list_item">
                    <div class="card-container">
                        doh doh doh
                    </div>
                    </li>
                    <li class="card-list_item">
                    <div class="card-container">
                        doh doh doh
                    </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="board rounded-box">
            <div class="board-title">
                Hello World
            </div>
        </div>
        <div class="board rounded-box">
            <div class="board-title">
                Hello World
            </div>
        </div>        
        <div class="board rounded-box">
            <div class="board-title">
                Hello World
            </div>
        </div>
        <div class="board rounded-box">
            <div class="board-title">
                Hello World
            </div>
        </div>
        <div class="board rounded-box">
            <div class="board-title">
                Hello World
            </div>
        </div>        
    </div>
</div>