  <div>
  
        <button class="topcoat-icon-button--large--quiet">
                    <div class="icomatic">home</div>
        </button>

        <button class="topcoat-icon-button--large--quiet">
                    <div class="icomatic">calendar</div>
        </button>

        <button class="topcoat-icon-button--large--quiet">
                    <div class="icomatic">chat</div>
        </button>   

        <button class="topcoat-icon-button--large--quiet">
                    <div class="icomatic">location</div>
        </button>  
        
    </div>